:root {
	--width-header: 4rem;
	--height-overlay-upgrade: 6rem;
	--height-footer: 6rem;
}

@media screen and (min-width: 540px) {
	:root {
		--width-header: 10rem;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	height: 100vh;
}

.nav-header {
	background-color: aqua;
}

.main-content {
	background-color: brown;
}

.main-content .content {
	margin: calc( var(--height-overlay-upgrade) + 1rem) 1rem 2rem 1rem;
}

.player {
	background-color: violet;
}

.overlay-upgrade {
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100% - var(--width-header));
	height: var(--height-overlay-upgrade);
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
}

.nav-header {
	overflow: hidden;
}

.main-content {
	/* padding: calc( var(--height-overlay-upgrade) + 1rem) 1rem 2rem 1rem; */ /* non so perchè questo dava dei problemi al rimpicciolimento in altezza, ho aggiustato facendo il .content a cui ho dato i margini */
	overflow-y: auto;
}


/****************************************************/
/*                  Layout: FLOAT                   */
/****************************************************/

.nav-header,
.main-content {
	height: calc(100% - var(--height-footer));
}

.nav-header {
	float: left;
	width: var(--width-header);
}

.main-content {
	float: right;
	width: calc(100% - var(--width-header));
}

.player {
	clear: both;
	height: var(--height-footer);
}



/****************************************************/
/*               Layout: POSITION HEAVY             */
/****************************************************/
/*
.nav-header,
.main-content {
	height: calc(100% - var(--height-footer));
}

.nav-header {
	position: fixed;
	top: 0;
	left: 0;
	width: var(--width-header);
}

.main-content {
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100% - var(--width-header));
}

.player {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: var(--height-footer);
}
*/


/****************************************************/
/*                Layout: POSITION LIGHT            */
/****************************************************/
/*
.nav-header,
.main-content {
	height: calc(100% - var(--height-footer));
}

.nav-header {
	position: fixed;
	top: 0;
	left: 0;
	width: var(--width-header);
}

.main-content {
	margin-left: var(--width-header);
	width: calc(100% - var(--width-header));
}

.player {
	height: var(--height-footer);
}
*/


/****************************************************/
/*                  Layout: FLEX WRAP               */
/****************************************************/
/*
.container {
	display: flex;
	flex-wrap: wrap;
}

.nav-header,
.main-content {
	height: calc(100% - var(--height-footer));
}

.nav-header {
	flex: 0 0 var(--width-header);
}

.main-content {
	flex: 1 0 0;
}

.player {
	flex: 0 0 100%;
	height: var(--height-footer);
}
*/


/****************************************************/
/*                  Layout: GRID                    */
/****************************************************/
/*
.container {
	display: grid;
	grid-template-columns: var(--width-header) auto;
	grid-template-rows: auto var(--height-footer);
}

.player {
	grid-column: 1 / 3;
}
*/


/****************************************************/
/*                  Layout: INLINE-BLOCK            */
/*                 EVITARE ASSOLUTAMENTE            */
/*        INLINE BLOCK NON è NATO PER FARE LAYOUT   */
/****************************************************/
/*
.container {
	font-size: 0;
}

.container > * {
	font-size: initial;
}

.nav-header,
.main-content {
	height: calc(100% - var(--height-footer));
}

.nav-header {
	display: inline-block;
	width: var(--width-header);
}

.main-content {
	display: inline-block;
	width: calc(100% - var(--width-header));
}

.player {
	height: var(--height-footer);
}
*/
